name: e2e

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go:
          - "oldstable"
          - "stable"
        clickhouse:
          - v21.8.14.5-lts
          - v22.8.20.11-lts
          - v23.10.3.5-stable
          - v24.11.1.2557-stable
          - v25.1.2.3-stable
    steps:
      - uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Get Go environment
        id: go-env
        run: |
          echo "::set-output name=cache::$(go env GOCACHE)"
          echo "::set-output name=modcache::$(go env GOMODCACHE)"

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.go-env.outputs.cache }}
            ${{ steps.go-env.outputs.modcache }}
          key: e2e-${{ runner.os }}-go${{ matrix.go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            e2e-${{ runner.os }}-go${{ matrix.go }}-

      - name: Set up ClickHouse cache
        uses: actions/cache@v4
        with:
          path: /opt/ch/clickhouse
          key: ClickHouse-${{ matrix.clickhouse }}

      - name: Check ClickHouse
        id: "ch_exists"
        uses: andstor/file-existence-action@v3
        with:
          files: /opt/ch/clickhouse

      - name: Download ClickHouse
        if: steps.ch_exists.outputs.files_exists != 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cd internal/cmd/ch-dl && go run . ${{ matrix.clickhouse }}

      - name: Run tests
        env:
          CH_BIN: "/opt/ch/clickhouse"
          CH_E2E: "TRUE"
        run: go test -v ./...
